html, body, .row {
    height: 98%;
    width: 98%;
 }

 .column {
    resize: height;
    height: 99%;
    float: left;
    margin-bottom: 1%;
    padding: 1%;
}

#legislationColumn, #teamColumn {
    width: 40%;
    padding-right: 2%;
    border-right-style: solid;
}

#scoreMappingColumn {
    width: 11%;
}

#simpleTeamInfoDetails, #verboseTeamInfoDetails {
    height: 25%;
}

img {
    display: block;
}

textarea {
    display: block;
    width: 100%;
    min-height: 28%;
    width: auto\9;
    margin: 1%;
}

#simpleTeamInfo, #verboseTeamInfo {
    height: 80%;
}

#editTeamsDetails, #simpleTeamInfoDetails {
    margin-top: 4%;
}

.phraseEditor {
    margin-top: 8%;
}

.teamDiv {
    margin-bottom: 6%;
}