html, body, .row {
    height: 98vw;
    width: 98vw;
 }

 .column {
    resize: height;
    height: 99vh;
    float: left;
    margin-bottom: 1vh;
    padding: 1vw;
}

#legislationColumn, #teamColumn {
    width: 39vw;
    padding-right: 2vw;
    border-right-style: solid;
}

#scoreMappingColumn {
    width: 11vw;
}

img {
    display: block;
}

textarea {
    display: block;
    width: 98%;
    min-height: 20vh;
    width: auto\9;
    margin: 1%;
}

#editTeamsDetails, #simpleTeamInfoDetails {
    margin-top: 4vh;
}

.phraseEditor {
    margin-top: 2vh;
}

.teamDiv {
    margin-bottom: 5vh;
}

#loading-container {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: block;
    opacity: 0.9;
    background-color: #fff;
}

.loading-spinner {
    visibility: hidden;
    position: fixed;
    top: 20vh;
    left: 30vh;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

summary {
    cursor: pointer;
}

details {
    background: rgba(47, 49, 49, 0.099);
    margin-bottom: 2rem;
    padding: .5rem 1rem;
}